<launch>
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find opt_local_planner)/config/costmap.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find opt_local_planner)/config/costmap.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find opt_local_planner)/config/global_planner_params.yaml" command="load"/>

    <param name="local_costmap/rolling_window" value="true"/>
    <param name="local_costmap/width" value="5.0"/>
    <param name="local_costmap/height" value="5.0"/>

    <param name="base_local_planner" value="opt_local_planner/OptimizationLocalPlanner"/>
    <param name="controller_frequency" value="5"/>
    <param name="planner_frequency" value="2"/>
    
  </node>
</launch>
