<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="robot_imu">

  <!-- IMU Link is the standard mounting position for the UM6 IMU.-->
  <!-- Can be modified with environment variables in /etc/ros/setup.bash -->
  <xacro:macro name="robot_imu" params="imu_prefix parent_link *joint_pose">
    <link name="${imu_prefix}imu_link"/>

    <joint name="imu_joint" type="fixed">
    <!-- <origin xyz="$(optenv ROBOT_IMU_XYZ 0.19 0 0.149)" rpy="$(optenv ROBOT_IMU_RPY 0 -1.5708 3.1416)" /> -->
      <xacro:insert_block name="joint_pose"/>
        <parent link="${parent_link}" />
        <child link="imu_link" />
    </joint>

    <gazebo reference="imu_link">
    </gazebo>

      
    <gazebo>
      <plugin name="imu_controller" filename="libhector_gazebo_ros_imu.so">
        <robotNamespace>$(arg robot_namespace)</robotNamespace>
        <updateRate>50.0</updateRate>
        <bodyName>${parent_link}</bodyName>
        <topicName>imu/data</topicName>
        <frameId>imu_link</frameId>
        <accelDrift>0.005 0.005 0.005</accelDrift>
        <accelGaussianNoise>0.005 0.005 0.005</accelGaussianNoise>
        <rateDrift>0.005 0.005 0.005 </rateDrift>
        <rateGaussianNoise>0.005 0.005 0.005 </rateGaussianNoise>
        <headingDrift>0.005</headingDrift>
        <headingGaussianNoise>0.005</headingGaussianNoise>
      </plugin>
    </gazebo>

  </xacro:macro>

</robot>
