<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="robot_laser">

  <!-- laser Link is the standard mounting position for the UM6 laser.-->
  <!-- Can be modified with environment variables in /etc/ros/setup.bash -->
  <xacro:macro name="robot_laser" params="prefix parent_link full_fov *joint_pose">
    <link name="${prefix}laser_link"/>

    <joint name="${prefix}laser_joint" type="fixed">
    <!-- <origin xyz="$(optenv ROBOT_laser_XYZ 0.19 0 0.149)" rpy="$(optenv ROBOT_laser_RPY 0 -1.5708 3.1416)" /> -->
      <xacro:insert_block name="joint_pose"/>
        <parent link="${parent_link}" />
        <child link="${prefix}laser_link" />
    </joint>
      
  <gazebo reference="${prefix}laser_link">
    <sensor type="ray" name="head_hokuyo_sensor">
      <pose>0 0 0 0 0 0</pose>
      <visualize>false</visualize>
      <update_rate>10</update_rate>
      <ray>
        <scan>
          <horizontal>
            <xacro:if value="${full_fov}">
              <samples>1440</samples>
              <resolution>1</resolution>
              <min_angle>-3.14159265358</min_angle>
              <max_angle>3.14159265358</max_angle>
            </xacro:if>
            <xacro:unless value="${full_fov}">
              <samples>720</samples>
              <resolution>1</resolution>
              <min_angle>-1.570796</min_angle>
              <max_angle>1.570796</max_angle>
            </xacro:unless>
          </horizontal>
        </scan>
        <range>
          <min>0.10</min>
          <max>30.0</max>
          <resolution>0.01</resolution>
        </range>
        <noise>
          <type>gaussian</type>
          <!-- Noise parameters based on published spec for Hokuyo laser
               achieving "+-30mm" accuracy at range < 10m.  A mean of 0.0m and
               stddev of 0.01m will put 99.7% of samples within 0.03m of the true
               reading. -->
          <mean>0.0</mean>
          <stddev>0.01</stddev>
        </noise>
      </ray>
      <plugin name="gazebo_ros_head_hokuyo_controller" filename="libgazebo_ros_laser.so">
        <topicName>/${prefix}laser/scan</topicName>
        <frameName>${prefix}laser_link</frameName>
      </plugin>
    </sensor>
  </gazebo>

  </xacro:macro>

</robot>
